button {
  border: 0;
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
}

// filled-buttons
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: $border-radius;
  font-size: $font-size;
  font-weight: $font-weight-semibold;
  color: $white-color;
  background-color: $muted-color;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  }

  //primary
  &.btn-primary {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: $white-color;
    &:hover {
      box-shadow: 0 10px 14px rgba($primary-color, 0.4);
    }
  }

  &.btn-danger {
    border: 1px solid $danger-color;
    background-color: $danger-color;
    color: $white-color;
    &:hover {
      box-shadow: 0 10px 14px rgba($danger-color, 0.4);
    }
  }

  &:disabled {
    opacity: 0.5;
    background-color: $grey-color;
    border: 1px solid $grey-color;
    cursor: not-allowed;
    &:hover {
      box-shadow: 0 10px 14px rgba($grey-color, 0.4);
    }
  }
}

.btn-outlined {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: $font-size;
  font-weight: $font-weight-semibold;
  color: $black-color;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $white-color !important;
    background-color: $primary-color;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  }

  //primary
  &.btn-primary {
    color: $primary-color;
  }
  // secondary
  &.btn-secondary {
    color: $muted-color;
  }
  // disabled
  &.btn-disabled {
    color: $grey-color;
    cursor: not-allowed;
  }
}

// text-buttons
.btn-text {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  font-weight: $font-weight;
  color: $black-color;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  //  primary
  &.btn-primary {
    color: $primary-color;
  }
  // secondary
  &.btn-secondary {
    color: $white-color;
  }
  // disabled
  &.btn-disabled {
    color: $grey-color;
    cursor: not-allowed;
  }
  // danger
  &.btn-danger {
    color: $danger-color;
  }
}

// outline-buttons

// icon-buttons {
.btn-icon {
  display: inline-block;
  padding: 0;
  border-radius: 0;
  font-size: $font-size-sm;
  font-weight: $font-weight;
  color: $black-color;
  background-color: transparent;
  min-width: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &.btn-disabled {
    color: $grey-color;
    cursor: not-allowed;
  }
}

// Back button special
.kit-btn-back {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: $secondary-btn;
  line-height: 1;
  margin: 0;

  span {
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    cursor: pointer;
    span {
      margin-right: 5px;
    }
  }
}

// .kit-btn {
//   display: inline-block;
//   font-weight: $font-weight-semibold;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   user-select: none;
//   border: 1px solid transparent;
//   padding: 0.5rem 1rem;
//   border-radius: 5px;
//   transition: box-shadow 0.3s ease-in-out;
//   cursor: pointer;

//   // Button sizes
//   &.kit-btn-sm {
//     padding: 0.25rem 0.5rem;
//   }
//   &.kit-btn-lg {
//     padding: 1rem 2rem;
//   }

//   // Button colors
//   &.kit-btn-primary {
//     color: $white-color;
//     background-color: $blue-color;
//     border-color: $blue-color;
//     box-shadow: 0 2px 3px rgba($blue-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($blue-color, 0.4);
//     }
//   }
//   &.kit-btn-primary-alt {
//     color: $white-color;
//     background-color: $purple-color;
//     border-color: $purple-color;
//     box-shadow: 0 2px 3px rgba($purple-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($purple-color, 0.4);
//     }
//   }
//   &.kit-btn-secondary {
//     color: $white-color;
//     background-color: $dark-grey-color;
//     border-color: $dark-grey-color;
//     box-shadow: 0 2px 3px rgba($dark-grey-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($dark-grey-color, 0.4);
//     }
//   }
//   &.kit-btn-success {
//     color: $white-color;
//     background-color: $success-color;
//     border-color: $success-color;
//     box-shadow: 0 2px 3px rgba($success-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($success-color, 0.4);
//     }
//   }
//   &.kit-btn-danger {
//     color: $white-color;
//     background-color: $danger-color;
//     border-color: $danger-color;
//     box-shadow: 0 2px 3px rgba($danger-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($danger-color, 0.4);
//     }
//   }
//   &.kit-btn-warning {
//     color: $dark-color;
//     background-color: $warning-color;
//     border-color: $warning-color;
//     box-shadow: 0 2px 3px rgba($warning-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($warning-color, 0.4);
//     }
//   }
//   &.kit-btn-info {
//     color: $white-color;
//     background-color: $info-color;
//     border-color: $info-color;
//     box-shadow: 0 2px 3px rgba($info-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($info-color, 0.4);
//     }
//   }
//   &.kit-btn-light {
//     color: $dark-color;
//     background-color: $white-color;
//     border-color: $white-color;
//     box-shadow: 0 2px 3px rgba($dark-color, 0.4);
//     &:hover {
//       color: $blue-color;
//       box-shadow: 0 10px 14px rgba($white-color, 0.4);
//     }
//   }
//   &.kit-btn-dark {
//     color: $white-color;
//     background-color: $dark-color;
//     border-color: $dark-color;
//     box-shadow: 0 2px 3px rgba($dark-color, 0.4);
//     &:hover {
//       box-shadow: 0 10px 14px rgba($dark-color, 0.4);
//     }
//   }
// }

// .kit-btn-icon {
//   color: $dark-color;
//   font-weight: $font-weight-semibold;
//   background-color: transparent;
//   border: none;
//   padding: 0 10px;
//   outline: none;
//   border-radius: 0;
//   cursor: pointer;
// }
