* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// override uikit style
// !not recommended
.uk-form-small {
  min-height: 36px !important;
}

input,
select,
textarea {
  font-size: $font-size;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-whitespace {
  white-space: nowrap;
}

// Style Input fields
input,
textarea,
select,
.select-input,
.single-select .select__control {
  border: 0 !important;
  border-bottom: 2px solid $muted-color !important;

  &:focus,
  &:active {
    outline: 0 !important;
    border-bottom-color: $primary-color !important;
  }
}