// Variables
$button-border-radius: 0.5em;

$font-size-xs: 0.75em;
$font-size-sm: 0.75rem;
$font-size: 12.5px;
$font-size-md: 1.02rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.4rem;
$font-size-xxl: 1.6rem;
$font-size-xxxl: 2rem;

// Font sizes
$title: $font-size-xxxl;
$subtitle: $font-size-xl;

$font-weight: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Margins
$margin: 0.5em;
$margin-1: 5em;
$margin-2: 7em;

// Colors
// $ecb-blue-color: #84cbe9;
// $ecb-blue-color: #0097af;
// $ecb-yellow-color: #e7a637;
// $ecb-yellow-color: #e7a637;

$ecb-light-blue: #e4eefd;
$ecb-white-color: #fff;
$ecb-tab-bg-color: #c5dee9;

// ecd #86cbe8
$blue-color: #516d85;
$yellow-color: #e7a637;
// $primary-color: #0097af;

// $primary-color: #84cbe9;
$secondary-color: #3f6a8e;
$darker-secondary-color: #35508b;

// main colours current
// $primary-color: #84cbe9;
// $ecb-blue-color: #84cbe9;
// $ecb-yellow-color: #e7a637;

// main colours new
// $primary-color: #99e7ff;
// $ecb-blue-color: #99e7ff;
// $ecb-yellow-color: #e7a637;
// $ecb-grey-color: #42515a;

// secondary colours new
// $primary-color: #0097af;
// $ecb-blue-color: #0097af;
// $ecb-yellow-color: #e7a637;
// $ecb-secondary-green: #8dc63f;


// mix 1
// $primary-color: #8dc63f;
// $ecb-blue-color: #84cbe9;
// $ecb-yellow-color: #e7a637;
// $ecb-blue-color: #99e7ff;
// $ecb-yellow-color: #e7a637;
// $ecb-grey-color: #42515a;
// $ecb-secondary-green: #8dc63f;

//mix 2
$primary-color: #0097af;
$ecb-blue-color: #0097af;
$ecb-yellow-color: #e7a637;
$ecb-grey-color: #42515a;
$ecb-secondary-green: #8dc63f;













$grey-color: #a9a9ab;
$dark-grey-color: #666;
$light-grey-color: #ccc;
$black-color: #000;
$white-color: #fff;
$muted-color: #f0f0f0;
$dark-muted-color: #e8e8e8;
$light-bg: #efefef;
$hover-color: #ffffdd;
$accent-color: #e41f25;

// Button colors
$secondary-btn: #0097af;
$secondary-btn-hover: #35508b;
$danger-btn: #e41f25;
$danger-btn-hover: #de2227;

$success-color: #4bb543;
$danger-color: #dc3545;
$warning-color: #faa05a;
$hover-color: #ffd;

// rating colors
$blue-color: #2f80ed;
$green-color: #4bb543;
$purple-color: #9b59b6;
$red-color: #dc3545;

// Border radius
$border-radius: 4px;
$border-radius-lg: 0em;

// Drawer size
$drawer-width: 200px;